<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATfCrmT-gLJhaRtSXm_7oVtax3gDR8gMc</string>
	<key>GCM_SENDER_ID</key>
	<string>1069609466865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>annekarolinneds.Insta-Gym-Version-2</string>
	<key>PROJECT_ID</key>
	<string>instagym-73606</string>
	<key>STORAGE_BUCKET</key>
	<string>instagym-73606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069609466865:ios:e99e87201d4840038ae250</string>
</dict>
</plist>